/* add background picture  */
#page1{
    background: url(https://images.unsplash.com/photo-1518365050014-70fe7232897f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60);
    background-position: center center;
    background-attachment: fixed;
    background-size: 100% auto;
    color: white;
    text-align: center;
    font-family: 'Domine', serif;
   }
   
   /* error message */
   #error{
    background-color:#a276a8;
    width: 50%;
    margin: 20px auto;
    font-size: 20px;
   }
   
   /* read word */
   #result{
       font-size: 50px;
       background-color: rgba(255, 255, 255, 0.2);
       padding: 5% 0;
   }
   
   /* hide the number input */
   .full-width-slider input {
       display: none !important;
   }
   
   .full-width-slider .ui-slider-track {
       margin-left: 15px;
   }
   